root = true

[*.md]
# Typically, Prettier, the markdown reformatter that I use, will indent subsequent
# paragraphs/code blocks/etc that are inside a single list item with as many spaces
# as the first paragraph of the list item. For example:
#
# 1. This is the first paragraph (3 "space" ident)
#
#    This is the second paragraph (3 space indent)
#
# However, Python-Markdown folks consider this wrong (!?) and want a fixed 4 spaces.
# See https://python-markdown.github.io/#differences
tab_width = 4
