[tool.poetry]
name = "wow-addon-packager"
version = "0.6.0"
description = "A user-friendly World of Warcraft addon packager"
license = "MIT"
authors = ["Tim Martin <tim@timmart.in>"]
readme = "README.rst"
homepage = "https://github.com/t-mart/wap"
repository = "https://github.com/t-mart/wap"
documentation = "https://github.com/t-mart/wap"
keywords = ["World of Warcraft", "WoW", "Addons"]
packages = [
    { include = "wap" },
]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.25.1"
click = "^7.1.2"
strictyaml = "^1.3.2"
arrow = "^0.17.0"
attrs = "^20.3.0"
colorama = "^0.4.4"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.800"
pytest = "^6.2.2"
flake8 = "^3.8.4"
pyfakefs = "^4.3.3"
pytest-cov = "^2.11.1"
codecov = "^2.1.11"
requests-mock = "^1.8.0"
pytest-mock = "^3.5.1"
isort = "^5.7.0"
bump2version = "^1.0.1"
requests-toolbelt = "^0.9.1"
twine = "^3.3.0"
freezegun = "^1.1.0"
pip-tools = "^5.5.0"
pytest-timeout = "^1.4.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
wap = 'wap.__main__:main'
