/* furo doesn't handle nested kbd's well */
/* A lot of this is unsetting of furo's way, and other parts are custom. */

kbd {
    padding: .2rem .4rem;
    font-size: .875em;
    color: white;
    background-color: #212529;
    border-radius: .2rem;
    box-shadow: none;
    border: none;
    margin: 0;
    vertical-align: baseline;
    display: inline;
    border: 1px solid #adb5bd;
    line-height: 1rem;
}

kbd kbd {
    padding: 0;
    margin: 0;
    font-weight: 700;
    vertical-align: text-bottom;
    border: none;
}
